global-exclude *.pyc
graft src/pas
graft docs
include *.rst
include LICENSE.GPL
include .coveragerc
include bobtemplate.cfg
recursive-include news *.gitkeep
recursive-include news *.internal
exclude bobtemplates.cfg
